* {
  margin: 0px;
}

.Web {
  color: blue;
}

.Buy {
  color: orange;
}

.logo-text {
  font-size: 45px;
  text-align: center;
  margin-top: 0px;
}

#logo,
#menu {
  float: left;
}

#menu li {
  display: inline;
  text-align: center;
  padding-left: 30px;
  margin-left: 30px;
}

#menu li a {
  text-decoration: none;
  font-size: 20px;
}

#menu li a:hover {
  color: gold;
}

#menu ul {
  width: 100%;
  text-align: center;
  margin-top: 18px;
}

#header {
  height: 60px;
  width: 100%;
  background-color: lightskyblue;
}

.search input[type="text"] {
  padding: 6px;
  border: none;
  margin-top: 14px;
  margin-right: 16px;
  font-size: 17px;
  float: left;
  margin-left: 100px;
  width: 1000px;
}

.form {
  margin-left: 100px;
  width: 500px;
}

.line {
  border-left: 10px solid grey;
  height: 100vh;
  margin: 0 auto;
}
